<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Journal entry</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
      integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
      integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
      crossorigin="anonymous"></script>
    <style>
        body{
      background-image: url("/assets/bgg.jpg");
      background-size: cover;
      background-attachment: fixed;
      background-repeat: no-repeat;
    }
    .btn {
  background-color: black; /* Blue background */
  border: none; /* Remove borders */
  color: white; /* White text */
  
  padding: 12px 16px; /* Some padding */
  font-size: 16px; /* Set a font size */
  cursor: pointer; /* Mouse pointer on hover */
}

/* Darker background on mouse-over */
.btn:hover {
  background-color: RoyalBlue;
}
    

    </style>
</head>
<body>
    <a href="/dashboard"><button class="btn" style="float: left;" ><i class="fa fa-arrow-left"></i>   Back&nbsp;</button></a>

   <br><br>
    <center><i><strong> <b><h1 style="font-weight: 700; text-shadow: 4px 4px black; color: white">Journal Entry </h1></b></strong></i></center>
    <a href="/addentry"><button class="btn" style="float: right;padding-right: 100px;"><i class="fa fa-plus circle"></i> Add New Entry&nbsp;</button></a>

    <br><br>
    <center><h1 style="color:white;font-weight: 400;text-shadow: 4px 4px black;"> My Entries&nbsp;</h1>
    
      <% for ( var i = 0; i < journal.length; i++){ var datum=journal[i]; %> 
        <br><br>
        <form action="/deleteEntry" method="post">
        <div class="card col-6">
          <div class="card-header">
            <%= datum.journalTitle %>
          </div>
          <div class="card-body">
            <h5 class="card-title"><%= datum.dateOfEntry %></h5>
            <p class="card-text"><%= datum.journalDesc %></p>
            <input type="hidden" name="id" value=<%= datum._id %> >
            <button type="submit" class="btn btn-primary">Delete</a>
          </div>
        </div>
      </form>

      <% } %>
    </center>
    </body>
</html> 
